body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    padding-bottom: 60px; /* 푸터 높이만큼 패딩 추가 */
}

.navbar {
    background-color: #1a1a1a;
    padding: 35px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navbar-logo {
    font-size: 36px;
    color: #fff;
    font-family: 'Georgia', serif;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding: 15px;
    line-height: 1;
}

.navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 18px 0;
    background-color: #1a1a1a;
    border-top: 1px solid #FFFFFF;
    width: 100%;
}

.navbar-links a {
    color: #aaa;
    text-decoration: none;
    margin: 0 15px;
    font-size: 14px;
    text-transform: uppercase;
}

.navbar a {
    color: #aaa;
    text-decoration: none;
    margin: 0 10px;
}

.navbar-links a:hover, .signin:hover {
    color: #fff;
}

.signin-container {
    display: flex;
    position: absolute;
    right: 50px;
    color: #aaa;
    font-size: 14px;
}

.signin {
    color: #aaa;
    font-size: 14px;
}
.all {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-bottom: 60px; /* 푸터 높이만큼 패딩 추가 */
}

.content {
    display: flex;
    padding: 20px;
    height: 100%;
}

.left-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 10px;
}

.left-column div {
    flex: 1;
    border: 0px;
    margin-bottom: 10px;
}

.right-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 0px;
}

.top-left, .bottom-left {
    display: flex;
    align-items: center;
}

.top-left img, .bottom-left img {
    width: 300px;
    height: auto;
    padding: 30px;
}

.top-left .text, .bottom-left .text {
    padding: 30px;
    font-size: 18px;
    color: #333;
    font-style: italic;
    border: none; 
}

.right-content {
    display: flex;
    align-items: center;
    
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.right-content p {
    font-style: italic;
    flex: 1;
    margin-right: 20px;
}

.right-content img {
    width: 150px;
    height: auto;
}
